body {

&#x20; background-image: url(https://tse1.mm.bing.net/th/id/OIP.kOgzG8yJOP6hObtTLOyWIAHaNK?rs=1&pid=ImgDetMain&o=7&rm=3);

&#x20; font-family: sans-serif;

&#x20; padding: 20px;

}



h1 {

&#x20; font-size: 50px;

&#x20; margin-top: 0;

&#x20; margin-bottom: 20px;

}



h2 {

&#x20; font-size: 30px;

}



.established {

&#x20; font-style: Fantasy;

}



h1, h2, p {

&#x20; text-align: center;

}



.menu {

&#x20; width: 80%;

&#x20; background-color: thistle;

&#x20; margin-left: auto;

&#x20; margin-right: auto;

&#x20; padding: 20px;

&#x20; max-width: 50px;

}



img {

&#x20; display: block;

&#x20; margin-left: auto;

&#x20; margin-right: auto;

&#x20; margin-top: -25px

&#x20; 

}



hr {

&#x20; height: 2px;

&#x20; background-color: darkseagreen;

&#x20; border-color: black;

}



.bottom-line {

&#x20; margin-top: 25px;

}



h1, h2 {

&#x20; font-family: Impact, serif;

}



.item p {

&#x20; display: inline-block;

&#x20; margin-top: 5px;

&#x20; margin-bottom: 5px;

&#x20; font-size: 18px;

}




/\* FOOTER \*/



footer {

&#x20; font-size: 14px;

}



.address {

&#x20; margin-bottom: 5px;

}



a {

&#x20; color: white;

}



a:visited {

&#x20; color: white;

}



a:hover {

&#x20; color: white;

}



a:active {

&#x20; color: thistle;


